body {
    background-color: yellow;
}
#log{
    width: 290px;
    height: 290px;
}
#cp-controls, #cp-canvas {
    padding: 5px;
}
#cp-controls {
    
    border: thin solid blue;
    width: 300px;
    height: 360px;
    float: left;
}
#cp-canvas {
    border: thin solid blue;
    width: 300px;
    height: 150px;
    margin-left: 15px;
}
#clear-button {
    padding: 20px;
}